
<!-- Main content -->

    <!-- Header -->
    <div class="header bg-primary pb-6"  >
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Ajouter Voiture </h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href=""><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="">Voiture</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Ajouter</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
            <a href="" class="btn btn-sm btn-neutral">Retour</a>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <!-- Custom form validation -->
            <div class="card">
              <!-- Card header -->
              <div class="card-header">
                <h3 class="mb-0">Ajouter Voiture</h3>
              </div>
              <!-- Card body -->
              <div class="card-body">
              <form class="needs-validation" [formGroup]="submitForm" (ngSubmit)="onSubmit()">

                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label class="form-control-label" >Num° Carte de grise</label>
                      <input type="text" class="form-control" formControlName="numcartegrise" name="numcartegrise" placeholder="Num Carte grise"  required>
                      <div class="invalid-feedback">
                        Choisir a Name Voiture .
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label class="form-control-label" > Tot Kilometrage  </label>
                      <input type="text" class="form-control" formControlName="kilometrage" name="kilometrage" placeholder="Num Carte grise"  required>
                      <div class="invalid-feedback">
                        Choisir a Name Voiture .
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label class="form-control-label" > Matricule  </label>
                      <input type="text" class="form-control" formControlName="matricule" name="matricule" placeholder="Num Carte grise"  required>
                      <div class="invalid-feedback">
                        Choisir a Name Voiture .
                      </div>
                    </div>
                  </div>
                   
              <div class="form-row">
                <div class="col-md-6 mb-3">
                      <label class="form-control-label" for="exampleDatepicker">Date Circulation</label>
                      <input class="form-control datepicker" formControlName="datemisecirculation" placeholder="Select date" type="text" value="06/20/2018">
                </div>
              </div>
                   

                  
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <select class="form-control"  *ngFor="let maison of maisons" 
                              formControlName="codeMaison" data-toggle="select">
                        <option value={{maison.codeMaison}}>{{maison.nomMaison}}</option>
                       
                      </select>
                    </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-6 mb-3">
                        <select class="form-control"  *ngFor="let marque of marques" 
                                formControlName="codeMarque" data-toggle="select">
                          <option value="{{marque.codeMarque}}">{{marque.nomMarque}}</option>
                         
                        </select>
                      </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-6 mb-3">
                          <select class="form-control"  *ngFor="let model of models" 
                                  formControlName="codeModel" data-toggle="select">
                            <option value="{{model.codeModel}}">{{model.nomModel}}</option>
                           
                          </select>
                        </div>
                        </div>

                  <button class="btn btn-primary" type="submit">Ajouter Voiture</button>
                </form>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
