
<!-- Main content -->

    <!-- Header -->
    <div class="header bg-primary pb-6"  >
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Ajouter Model </h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href=""><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="">Model</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Ajouter</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
            <a href="" class="btn btn-sm btn-neutral">Retour</a>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <!-- Custom form validation -->
            <div class="card">
              <!-- Card header -->
              <div class="card-header">
                <h3 class="mb-0">Ajouter Model</h3>
              </div>
              <!-- Card body -->
              <div class="card-body">


                <div class="container" *ngIf="currentUser">
                  <header class="jumbotron">
                    <h3>
                      <strong>{{ currentUser.username }}</strong> Profile
                    </h3>
                  </header>
                  <p>
                    <strong>Token:</strong>
                    {{ currentUser.accessToken.substring(0, 20) }} ...
                    {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
                  </p>
                  <p>
                    <strong>Email:</strong>
                    {{ currentUser.email }}
                  </p>
                  <strong>Roles:</strong>
                  <ul>
                    <li *ngFor="let role of currentUser.roles">
                      {{ role }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
