
<div class="header bg-primary pb-6">

    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Societe Management</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="societe"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="societe">Societe</a></li>
                <li class="breadcrumb-item active" aria-current="page">Index</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="societe/ajouter" class="btn btn-sm btn-neutral">Add New Societe</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header">
            <h3 class="mb-0">Liste Societe</h3>

          </div>
          <div class="table-responsive py-4">
            <table class="table table-flush" id="datatable-basic">
              <thead class="thead-light">
                <tr>
                  <th class="text-center">#</th>
                  <th>nomSociete</th>
                  <th>personnePhysique</th>
                  <th>adresseSociete</th>
                  <th>telSociete</th>
                  <th>mailSociete</th>
                  <th>prenomNomRepresentantSociete</th>
                  <th>telRepresentantSociete</th>

                  <th class="td-actions text-right">Actions</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th class="text-center">#</th>
                  <th>nomSociete</th>
                  <th>personnePhysique</th>
                  <th>adresseSociete</th>
                  <th>telSociete</th>
                  <th>mailSociete</th>
                  <th>prenomNomRepresentantSociete</th>
                  <th>telRepresentantSociete</th>

                  <th class="td-actions text-right">Actions</th>
                </tr>
              </tfoot>
              <tbody>

                <tr *ngFor="let societe of societes; let i = index" [attr.data-index]="i">
                  <td class="text-center">{{ societe.numSociete}}</td>
                  <td>{{ societe.nomSociete}}</td>
                  <td>{{ societe.personnePhysique}}</td>
                  <td>{{ societe.adresseSociete}}</td>
                  <td>{{ societe.telSociete}}</td>
                  <td>{{ societe.mailSociete}}</td>
                  <td>{{ societe.prenomNomRepresentantSociete}}</td>
                  <td>{{ societe.telRepresentantSociete}}</td>


                   <td class="td-actions text-right">

                    <a routerLink="modifier/{{societe.numSociete}}" class="table-action" data-toggle="tooltip" data-original-title="Edit Conducteur">
                      <i class="fas fa-user-edit"></i>
                    </a>

                   <a (click)="openConfirmationDialog(societe.numSociete)" class="table-action table-action-delete"  data-toggle="tooltip" data-original-title="Delete Conducteur">

                 <i class="fas fa-trash"></i>
               </a>
              </td>



                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
