
<!-- Main content -->

    <!-- Header -->
    <div class="header bg-primary pb-6"  >
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Modifier Voiture </h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="voiture"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="voiture">Voiture</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Modifier</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
            <a href="" class="btn btn-sm btn-neutral">Retour</a>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <!-- Custom form validation -->
            <div class="card">
              <!-- Card header -->
              <div class="card-header">
                <h3 class="mb-0">Modifier Voiture</h3>
              </div>
              <!-- Card body -->
              <div class="card-body">
                <form [formGroup]="submitForm" (ngSubmit)="onSubmit()">

                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label class="form-control-label" >Num° Carte de grise</label>
                      <input type="text" class="form-control" formControlName="numcartegrise" [ngModel]="voiture['numcartegrise']" name="numcartegrise" placeholder="Num Carte grise"  required>

                    </div>
                  </div>

                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label class="form-control-label" > Tot Kilometrage  </label>
                      <input type="text" class="form-control" formControlName="kilometrage" [ngModel]="voiture['kilometrage']" name="kilometrage" placeholder="Num Carte grise"  required>
                      <div class="invalid-feedback">
                        Choisir a Name Voiture .
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label class="form-control-label" > Matricule  </label>
                      <input type="text" class="form-control" formControlName="matricule" [ngModel]="voiture['matricule']" name="matricule" placeholder="Num Carte grise"  required>
                      <div class="invalid-feedback">
                        Choisir a Name Voiture .
                      </div>
                    </div>
                  </div>

              <div class="form-row">
                <div class="col-md-6 mb-3">
                      <label class="form-control-label" for="exampleDatepicker">Date Circulation</label>
                      <input class="form-control datepicker" formControlName="datemisecirculation" name="datemisecirculation" [ngModel]="voiture['datemisecirculation'] | date:'yyyy-MM-dd'" placeholder="Select date" type="date" >
                </div>
              </div>



                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label class="form-control-label">Choix Maison</label>
                      <select class="form-control"  data-toggle="select" formControlName="maison" name="maison">
                        <option *ngFor="let maison of maisons"
                        [ngValue]="maison">{{maison.nomMaison}}</option>
                      </select>
                    </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-6 mb-3">
                        <label class="form-control-label">Choix Marque</label>
                        <select class="form-control"  data-toggle="select" formControlName="marque" name="marque">
                          <option *ngFor="let marque of marques"
                          [ngValue]="marque">{{marque.nomMarque}}</option>
                        </select>
                      </div>
                      </div>
                      <div class="form-row">
                        <div class="col-md-6 mb-3">
                          <label class="form-control-label">Choix Model</label>
                          <select class="form-control"  data-toggle="select" formControlName="model" name="model">
                            <option *ngFor="let model of models"
                            [ngValue]="model">{{model.nomModel}}</option>
                          </select>
                        </div>
                        </div>

                  <button class="btn btn-primary" type="submit">Modifier Voiture</button>
                </form>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
