
<!-- Main content -->

    <!-- Header -->
    <div class="header bg-primary pb-6"  >
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Modifier Conducteur</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href=""><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="">Conducteur</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Modifier</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
            <a href="" class="btn btn-sm btn-neutral">Retour</a>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <!-- Custom form validation -->
            <div class="card">
              <!-- Card header -->
              <div class="card-header">
                <h3 class="mb-0">Ajouter Conducteur</h3>
              </div>
              <!-- Card body -->
              <div class="card-body">

              <form class="needs-validation" [formGroup]="submitform" (ngSubmit)="onSubmit()">

                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label class="form-control-label">Nom & Prenom</label>
                      <input type="text" class="form-control" formControlName="prenomNomConducteur" name="prenomNomConducteur"
                       placeholder="Nom & prenom Conducteur"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-control-label">Adresse</label>
                      <input type="email" class="form-control" formControlName="adresse" name="adresse"
                       placeholder="E-mail Conducteur"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-control-label">Telephone</label>
                      <input type="text" class="form-control" formControlName="tel" name="tel"
                        placeholder="Tel Conducteur"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-control-label">dateNaissance</label>
                      <input type="text" class="form-control" formControlName="dateNaissance" name="dateNaissance"
                        placeholder="Date naissance Conducteur"  required>
                    </div>


                  </div>
                  <div class="form-row">

                    <div class="col-md-6 mb-3">
                      <label class="form-control-label">Mail Conducteur</label>
                      <input type="text" class="form-control" formControlName="mailConducteur" name="mailConducteur"
                        placeholder="Tel Conducteur"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-control-label">Date Cin</label>
                      <input type="date" class="form-control" formControlName="dateCin" name="dateCin"
                          required>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-control-label">Num Cin</label>
                      <input type="text" class="form-control" formControlName="numCIN" name="numCIN"
                        placeholder="CIN Conducteur"  required>
                    </div>

                  </div>
               <div class="form-row">

                <div class="col-md-6 mb-3">
                  <label class="form-control-label">Num Permis Conduite</label>
                  <input type="text" class="form-control" formControlName="numPermisConduite" name="numPermisConduite"
                     required>
                </div>
                <div class="col-md-6 mb-3">
                  <label class="form-control-label">Date Livraison Permis Conduite</label>
                  <input type="date" class="form-control" formControlName="dateLivraisonPermisConduite" name="dateLivraisonPermisConduite"
                      required>
                </div>
                <div class="col-md-6 mb-3">
                  <label class="form-control-label"> Date Fin Validite</label>
                  <input type="date" class="form-control" formControlName="dateFinValidite" name="dateFinValidite"
                    required>
                </div>

              </div>

                  <button class="btn btn-primary" type="submit">Ajouter Conducteur</button>
                </form>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
