
<!-- Main content -->

    <!-- Header -->
    <div class="header bg-primary pb-6"  >
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Ajouter Societe </h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="societe"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="societe">Societe</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Ajouter</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
            <a href="societe" class="btn btn-sm btn-neutral">Retour</a>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card-wrapper">
            <!-- Custom form validation -->
            <div class="card">
              <!-- Card header -->
              <div class="card-header">
                <h3 class="mb-0">Ajouter Societe</h3>
              </div>
              <!-- Card body -->
              <div class="card-body">


              <form [formGroup]="submitForm" (ngSubmit)="onSubmit()">

                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                      <label class="form-control-label" >Name Societe</label>
                      <input type="text" class="form-control" formControlName="nomSociete" name="nomSociete" placeholder="Nom Societe"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label class="form-control-label" >Personne Physique</label>
                      <div class="form-check form-check-line">
                        <input class="form-check-input" type="radio" formControlName="personnePhysique" id="inlineRadio1" value="true">
                        <label class="form-check-label" for="inlineRadio1">Oui</label>
                      </div>
                      <div class="form-check form-check-line">
                        <input class="form-check-input" type="radio" formControlName="personnePhysique" id="inlineRadio2" value="false">
                        <label class="form-check-label" for="inlineRadio2">Non</label>
                      </div>
                    </div>

                  </div>
                  <div class="form-row">

                     <div class="col-md-6 mb-3">
                      <label class="form-control-label" >Adresse Societe</label>
                      <input type="text" class="form-control" formControlName="adresseSociete" name="adresseSociete" placeholder="Adresse Societe"  required>
                    </div>
                     <div class="col-md-6 mb-3">
                      <label class="form-control-label" >Tel Societe</label>
                      <input type="text" class="form-control" formControlName="telSociete" name="telSociete" placeholder="tel Societe"  required>
                    </div>

                  </div>
                  <div class="form-row">

                     <div class="col-md-6 mb-3">
                      <label class="form-control-label" >Mail Societe</label>
                      <input type="email" class="form-control" formControlName="mailSociete" name="mailSociete" placeholder="example@test.com"  required>
                    </div>
                     <div class="col-md-6 mb-3">
                      <label class="form-control-label" >Nom & Prenom Societe</label>
                      <input type="text" class="form-control" formControlName="prenomNomRepresentantSociete" name="prenomNomRepresentantSociete" placeholder="Nom Societe"  required>
                    </div>

                  </div>
                    <div class="form-row">

                     <div class="col-md-6 mb-3">
                      <label class="form-control-label" >Tel Representant Societe</label>
                      <input type="text" class="form-control" formControlName="telRepresentantSociete" name="telRepresentantSociete" placeholder="Nom Societe"  required>
                    </div>
                    <!--<div class="col-md-6 mb-3" hidden>
                      <label class="form-control-label" >Date Creation Societe</label>
                      <input type="date" class="form-control" formControlName="dateCreationSociete"
                             name="dateCreationSociete" value="{{this.getDate()}}">
                    </div> -->

                    </div>

                  <button class="btn btn-primary" type="submit">Ajouter Societe</button>
                </form>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
